<body>
    <div class="homepage_image_div">
        <img class="homepage_title" src="assets/title.png" alt="Tytuł">
    </div>
    <div class="info_homepage">
        <div class="container_info">
            <h1>O zawodach</h1>
            <h3>Zawody te istnieją już od 17 lat! Utworzone zostały w celu promowania sportu i zdrowego trybu życia oraz zbiórki pieniędzy na cele charytatywne.</h3>
            <br>
            <h1>Data oraz miejsce</h1>
            <h3>Zawody odbywają się w dniach 4-10 sierpnia bieżącego roku. Wszystkie konkurencje odbędą się na terenie miasta Łodzi. Więcej szczegółów znajdziesz w harmonogramie.</h3>
            <br>
            <h1>Kto może wziąć udział?</h1>
            <h3>W zawodach może wziąć udział każdy zainteresowany niezależnie od wieku czy predyspozycji sportowych.</h3>
            <br>
            <h1>Organizatorzy i sponsorzy</h1>
            <h3>Zawody organizowane są przez Jana Nowaka i Julię Kowalską przy współpracy z panią prezydent Łodzi Hanną Zdanowską oraz Zatokę Sportu Politechniki Łódzkiej.</h3>
            <br>
            <h1>Mapa</h1>
            <div id="map">
                <img src="assets/map.png" alt="map">
            </div>
        </div>
    </div>
</body>