.homepage_image_div {
    position: relative;
    text-align: center;
}

.homepage_image {
    width:100%;
}

.homepage_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: #ffffff;
    font-size: 15vh;
}