<body>
    <div class="container">
        <h2>Zbiórka Charytatywna</h2>
        <h3>Zbieramy pinionszki na ECTS-y</h3>
        <br>
        <h4>Patroni honorowi</h4>
        <div class="images">
            <li class="patrons">
                <img src="assets/patrons/dudu.jpg" alt="A.Dudu">
                <h3>Andrzej Dudu</h3>
            </li>
            <li class="patrons">
                <img src="assets/patrons/kaczorek.jpg" alt="J.Kaczorek">
                <h3>Jarosław Kaczorek</h3>
            </li>
            <li class="patrons">
                <img src="assets/patrons/moanrawiecki.jpg" alt="M.Moanrawiecki">
                <h3>Mateusz Moanrawiecki</h3>
            </li>
        </div>
    </div>
</body>
