<div class="main" role="main">
    <div class="containerr">
        <h2>Zbiórka Charytatywna na operację serca Ady Mróz oraz innych dzieci z wrodzonymi wadami serca</h2>
        <h3>3 letnia Ada Mróz choruje od urodzenie na rzadką chorbę Boltzmann'a.</h3>
        <h3>Objawami choroby są sinyne bóle kostno-mięśniowe czy niewydolność serca, najczęściej prowadząca do śmierci. Aby uratować dziewczynkę konieczny jest przeszcep serca.</h3>
        <h3>Dzięki współpracy z Instytutem Feynmana oraz darczyńcami udało się nam zebrać część środków potraebnych na operację, ale wciąż brakuje 350 000$.</h3>
        <h3>Pieniądze zbierane będą podczas turnieju sportowego w dniach 4-6 sierpnia. Darowizny można też wpłacać na konto bankowe 0000 1111 2222 3333.</h3>
        <br>
        <h4>Patroni honorowi</h4>
        <div class="images">
            <li class="patrons">
                <img src="assets/patrons/mazur.jpg" alt="O.Mazur">
                <h3>Oktawia Mazur</h3>
            </li>
            <li class="patrons">
                <img src="assets/patrons/kwiatkowski.jpg" alt="A.Kwiatkowski">
                <h3>Arkadiusz Kwiatkowski</h3>
            </li>
            <li class="patrons">
                <img src="assets/patrons/saturczak.jpg" alt="P.Saturczak">
                <h3>Paweł Saturczak</h3>
            </li>
        </div>
    </div>
</div>
