<body>
    <div class="container">
      <div class="title">Rejestracja</div>
      <div class="content">
        <form action="#">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Imię</span>
              <input type="text" placeholder="Podaj imię" required>
            </div>
            <div class="input-box">
              <span class="details">Nazwisko</span>
              <input type="text" placeholder="Podaj nazwisko" required>
            </div>
            <div class="input-box">
              <span class="details">Data urodzenia</span>
              <input type="text" placeholder="Data urodzenia (MM/DD/YYYY)"
                      onfocus="(this.type='date')">
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input type="email" placeholder="Podaj adres email" required>
            </div>
            <div class="input-box">
              <span class="details">Numer telefonu</span>
              <input type="text" placeholder="Podaj numer telefonu" required>
            </div>
            <div class="input-box">
              <span class="details">Kraj</span>
              <input type="text" placeholder="Kraj">
            </div>
            <div class="input-box">
              <span class="details">Wojewodztwo</span>
              <input type="text" list="wojewodztwa" placeholder="Wojewodztwo" required>
              <datalist id="wojewodztwa">
              <option value="dolnośląskie">
              <option value="kujawsko-pomorskie">
              <option value="lubelskie">
              <option value="lubuskie">
              <option value="łódzkie">
              <option value="małopolskie">
              <option value="mazowieckie">
              <option value="opolskie">
              <option value="podkarpackie">
              <option value="podlaskie">
              <option value="pomorskie">
              <option value="śląskie">
              <option value="świętokrzyskie">
              <option value="warmińsko-mazurskie">
              <option value="wielkopolskie">
              <option value="Zachodniopomorskie">
              </datalist>
            </div>
            <div class="input-box">
              <span class="details">Kod pocztowy</span>
              <input type="text" pattern="^\d{2}-\d{3}$" placeholder="Kod pocztowy(xx-yyy)" required>
            </div>
            <div class="input-box">
              <span class="details">Ulica</span>
              <input type="text" placeholder="Podaj ulicę" required>
            </div>
            <div class="input-box">
              <span class="details">Numer domu/mieszkania</span>
              <input type="text" placeholder="Numer domu/mieszkania" required>
            </div>
            <div class="input-box">
              <span class="details">Które zawody wariacie</span>
              <input type="text" list="zawody" placeholder="Zawody" required>
              <datalist id="zawody">
              <option value="biegi">
              </datalist>
            </div>
          </div> 
          <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <input type="radio" name="gender" id="dot-3">
            <span class="gender-title">Płec</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Mężczyzna</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Kobieta</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Wolę nie mówić</span>
              </label>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Zarejestruj się">
          </div>
        </form>
      </div>
    </div>
  </body>