<nav class="navigation" id="Nav">
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" data-hover="Strona Główna">Strona Główna</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/Harmonogram" data-hover="Harmonogram">Harmonogram</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/Zbiorka" data-hover="Zbiórka">Zbiórka</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/form" data-hover="Zarejestruj się">Zarejestruj się</a></li>
</nav>
<main [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
</main>
