@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 100%;
}
.back {
  background: linear-gradient(135deg, #777777, #9b59b6);
}
ul{
    display:flex;
    list-style:none;
}

@media (max-width:700px) {
  ul {
      display: block
  }
}
.right{
  float:right;
}
ul li{
  margin:10px;
  height:50px;
  width:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  cursor:pointer;
  position:relative;
  
}
ul li i{
  transition:all 0.3s linear;
}
ul li:hover i{
  color:#fff;
  font-size:10px;
}
ul li:hover::after{
  opacity:1;
  transform:scale(0.8);
 
}
ul li::after{
  content:"";
  position:absolute;
  height:inherit;
  width:inherit;
  border-radius:50%;
  opacity:0;
  z-index:-1;
  transition:all 0.3s linear;
  
}
ul li:nth-child(1){
  border:2px solid #ffffff;
  color:#ffffff;
}

ul li:nth-child(1)::after{
   background-color:#ffffff;
   color:#ffffff;
}
ul li:nth-child(2){
  border:2px solid #ffffff;
  color:#ffffff;
}

ul li:nth-child(2)::after{
   background-color:#ffffff;
   color:#ffffff;
}
ul li:nth-child(3){
  border:2px solid #ffffff;
  color:#ffffff;
}
ul li:nth-child(3)::after{
   background-color:#ffffff;
   color:#ffffff;
}
ul li:nth-child(4){
  border:2px solid #ffffff;
  color:#ffffff;
}

ul li:nth-child(4)::after{
   background-color:#ffffff;
   color:#dd4b39;
}