@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.harmonogram {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 950px;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position:center;
  background-attachment: fixed;
}

.info {
  display: flex;
  padding: 15px;
  justify-content: center;
}

.container-info {
  float: left;
  width: 800px;
}

.container-photo,img {
  float: left;
}

.image {
  width: 100%;
}