<body>
    <div class="all">
        <div class="container">
            <div class="content">
                <div class="harmonogram">
                    <h1>Dzień pierwszy</h1>
                    <div class="info">
                        <div class="container-info">
                            <h2>4 sierpnia</h2>
                            <h4>10:15-11:45&#9;Rozpoczęcie wydarzenia</h4>
                            <h4>12:15-13:00&#9;Bieg w centrum Łodzi</h4>
                            <h4>13:20-15:00&#9;Zawody w pływaniu</h4>
                            <h4>15:15-16:45&#9;Turniej szachowy</h4>
                            <h4>17:00-17:45&#9;Placeholder</h4>
                            <h4>18:00-18:30&#9;Zakończenie dnia</h4>
                        </div>
                        <div class="container-photo">
                            <img class="image" src="assets/scheulde/running.jpg" alt="biegi">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <div class="harmonogram">
                    <h1>Dzień drugi</h1>
                    <div class="info">
                        <div class="container-info">
                            <h2>5 sierpnia</h2>
                            <h4>10:15-11:45&#9;Rozpoczęcie wydarzenia</h4>
                            <h4>12:15-13:00&#9;Bieg w centrum Łodzi</h4>
                            <h4>13:20-15:00&#9;Zawody w pływaniu</h4>
                            <h4>15:15-16:45&#9;Turniej szachowy</h4>
                            <h4>17:00-17:45&#9;Placeholder</h4>
                            <h4>18:00-18:30&#9;Zakończenie dnia</h4>
                        </div>
                        <div class="container-photo">
                            <img class="image" src="assets/scheulde/basketball.jpg" alt="gry zespołowe">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
