<body>
    <div class="container">
        <div class="content">
            <div class="harmonogram">
                <h1>Dzień 1</h1>
                <div class="info">
                    <div class="container-info">
                        <h3>4 sierpnia</h3>
                        <h3>4 sierpnia</h3>
                        <h3>4 sierpnia</h3>
                        <h3>4 sierpnia</h3>
                        <h3>4 sierpnia</h3>
                        <h3>4 sierpnia</h3>
                        <h3>4 sierpnia</h3>
                    </div>
                    <div class="container-photo">
                        <img class="image" src="assets/xd.jpg" alt="Zdj">
                    </div>
                </div>
            </div>
        </div>
      </div>
</body>
