<div class="main" role="main">
    <div class="all">
        <div class="container">
            <div class="content">
                <div class="harmonogram">
                    <h1>Dzień pierwszy</h1>
                    <div class="info">
                        <div class="container-info">
                            <h2>4 sierpnia</h2>
                            <br>
                            <h4>10:15-11:45&nbsp;Rozpoczęcie wydarzenia</h4>
                            <h4>12:15-13:00&nbsp;Bieg w centrum Łodzi</h4>
                            <h4>13:20-14:45&nbsp;Zawody w pływaniu</h4>
                            <h4>15:15-16:45&nbsp;Ścianka wspinaczkowa</h4>
                            <h4>17:00-17:30&nbsp;Zakończenie dnia</h4>
                        </div>
                        <div class="container-photo">
                            <img class="image" src="assets/scheulde/running.jpg" alt="biegi">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <div class="harmonogram">
                    <h1>Dzień drugi</h1>
                    <div class="info">
                        <div class="container-info">
                            <h2>5 sierpnia</h2>
                            <br>
                            <h4>10:00-10:30&nbsp;Rozpoczęcie dnia</h4>
                            <h4>10:45-12:45&nbsp;Piłka nożna</h4>
                            <h4>13:30-15:30&nbsp;Siatkówka</h4>
                            <h4>16:00-18:00&nbsp;Koszykówka</h4>
                            <h4>18:30-19:00&nbsp;Zakończenie dnia</h4>
                        </div>
                        <div class="container-photo">
                            <img class="image" src="assets/scheulde/basketball.jpg" alt="gry zespołowe">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <div class="harmonogram">
                    <h1>Dzień trzeci</h1>
                    <div class="info">
                        <div class="container-info">
                            <h2>6 sierpnia</h2>
                            <br>
                            <h4>10:00-10:30&nbsp;Rozpoczęcie dnia</h4>
                            <h4>10:45-12:15&nbsp;Tenis ziemny</h4>
                            <h4>12:30-14:15&nbsp;Badminton</h4>
                            <h4>14:30-16:00&nbsp;Tenis stołowy</h4>
                            <h4>16:15-18:00&nbsp;Zakończenie wydarzenia</h4>
                        </div>
                        <div class="container-photo">
                            <img class="image" src="assets/scheulde/tennis.jpg" alt="gry zespołowe">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
